.menu-footer{
  color: white;
  margin-left: 22px;

  .footer-ico{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
    .footer-ico2{
      display: flex;
      gap: 10px;
      
      
    }  
}
.img{

padding: 35px 0 10px 0;
width: 40%;
filter: brightness(0) invert(1)

}
}
