main {

    .entrees {
        margin: 0 0 53px;
    }
    .plats {
        margin: 0 0 53px;
    }
    height: 1567px;

    .menu-container {
        background: rgb(246, 246, 246);
       position: relative;
        top: 226px;
        border-radius: 50px 50px 0 0;
        padding: 0 10px;
        

         .articles{
            border: none;
            margin: 20px 0 0 0;

            h3 {
              font-weight: normal;  
            }
        }
    }
    img {
        height: 286px;
        width: 95%;
        position: absolute;
        object-fit: cover;
       
    }
    .titre-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 47px 13px;

        .icone-coeur .fa-solid {
            display: none;
        }
    }
    /*code pour coeur */
    :hover.icone-coeur{
        .fa-solid{
            display: inline;
            cursor: pointer;
            
            
        }
        .fa-regular{
            display: none;
            
        }
    }
    /* code au clic */
    :active .icone-coeur{
        .fa-solid{
            display: inline;
            cursor: pointer;
            
            
        }
        .fa-regular{
            display: none;
            
        }
    }
    .icone-coeur{
        font-size: 2rem;
        
        
    }
    
    h3{
        text-transform: uppercase;
        
    }
    .bar-souligne{
        width: 56px;
        height: 4px;
        background: #99E2D0;
        margin: 3px; 
    }
    /* code pour article-menu */
    .article-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        background: rgb(255, 255, 255);
        margin-bottom: 10px;
        border-radius: 20px;
        margin-top: 20px;
        cursor: pointer;
        animation-duration: 2s;
        
        
        h4 {
            font-size: 1.1rem;
            @include title;


        }
        .prix {
            display: flex;
            justify-content: center;
            align-items: center;




           p {
            @include title;
            padding: 19px 9px 0 0;


            }
            /* code pour le input choix */
            .select-choix {
                width: 70px;
                height: 73px;
                display: none;
                background: $colortertiaire;
                transition: transform 0.50s ease-in-out;
                margin-right: -25px;
                border-radius: 0 20px 20px 0;
             


           .fa-solid {
            display: flex;
            justify-content: center;
            margin-top: 20px;
                border: none;
                border-radius: 15px;
                font-size: 2rem;
                color: white;
            }
           
            }
            
        }
    

    }



    .commande {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 33px;
        

    }
    .description{
        margin-left: 15px;
        line-height: 1.5;
       
        
    
          }

   


}