main{
    height: 1500px;
    .menu-container{
        background: rgb(246, 246, 246);
       position: relative;
        top: 220px;
        border-radius: 50px 50px 0 0;
        padding: 5px;

         .articles{
            border: none;

            h3 {
              font-weight: normal;  
            }
        }
    }
    .restau-image{
        height: 280px;
        width: 95%;
        position: absolute;
       
    }
    .titre-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 47px 13px;

        .icone-coeur .fa-solid{
            display: none;
        }
       
        
        
    }
    :hover.icone-coeur{
        .fa-solid{
            display: inline;
            cursor: pointer;
            
            
        }
        .fa-regular{
            display: none;
            
        }
    }
    .icone-coeur{
        font-size: 2rem;
        
    }
    
    h3{
        text-transform: uppercase;
        
    }
    .bar-souligne{
        width: 56px;
        height: 5px;
        background: #99E2D0;
        margin: 3px; 
    }
    .article-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background: rgb(255, 255, 255);
        margin-bottom: 10px;
        border-radius: 20px;
        margin-top: 20px;

        
        h4 {
            font-size: 1.1rem;
            @include title;
            
            
        }
       

        .select-choix {
            display: none;
        }
        .prix p {
            @include title;

            
        }
    }
    .commande{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 73px;
        p{
            font-size: 2rem;
        }

    }
    .description{
        margin-left: 15px;
        line-height: 1.5;
    }
    .prix{
        margin: 19px 10px 0;
    }
   
}