main {
  .main-reserver {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #f6f6f6;
    height: 255px;

    h1 {
      font-size: 1.3rem;
      width: 63%;
    }
    p {
      font-size: 1em;
      width: 90%;
    }
  }
  .main-contenair {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
    padding: 20px;

    article .icongrey .fa-solid {
      color: grey;
    }

    .main-icon2 .fa-solid {
      color: #9356DC;
    }

    .main-btn .main-icon2 {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 90%;
    }
  }
  .maint-contenair-title {
    width: 30%;
    margin: 30px 0 30px;
    text-align: center;
  }
  .resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

    .palette {
      position: relative;
      box-shadow: 3px 3px 20px rgb(233, 227, 227);
      height: 281px;
      border-radius: 20px 20px 10px 10px;
      width: 100%;

      img {
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
      }
      .palette-nouveau {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
        width: 23%;
        background: #99e2d0;
        margin-left: 70%;
        bottom: 200px;
        border-radius: 5px;
        transition: 0.6s;
        padding: 5px;

        p {
          font-weight: bold;
          color: #008766;
        }
        a {
          text-decoration: none;
        }
      }

      .palette-menil {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        a {
          text-decoration: none;
        }
        h1 {
          font-size: 1.3em;
          //font-family: $font2;
        }
        
      }
      
    }
  }
  .sect-resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    gap: 30px;

    h2 {
      margin-top: 54px;
      width: 100%;
    }

    .title {
      width: 95%;
    }
  }

  .Fonctionnement {
    margin: 70px 8px 70px 10px;
  }
}
