@media only screen and (min-width: 1024px){
    body{
       max-width: 1440px;
    }

    .menu-container{
       margin: 0 160px;
        .titre-menu {
            padding: 47px 340px;
        }
        .menus {
            padding: 0 180px;
        }
    }

    footer {
        height: 95px;
        margin-top: 0;
        .menu-footer{ 
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
          padding-top: 34px;
          gap: 100px;
          margin-left: 0;

          .footer-ico{
            display: flex;
            flex-direction: row;
            gap: 25px;
          }
    
          .img {
            width: 12%;
            padding: 6px 35px 10px 0;
          }
            p{
                font-size: 0.80rem;
            }
        }
    }
}