
@font-face {
    font-family: inter-bold;
    src: url(/assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: merr;
    src: url(/assets/fonts/Merriweather-Light.ttf);
}
$fonte1: inter-bold, sans-serif;
$font2: merr,serif;

/* les couleurs */
$colorprimaire: #9356DC;
$colorsecondaire:#FF79DA;
$colortertiaire:#99E2D0;

$color1: rgb(153, 226,208);
$color2: rgb(0,135,102);
$color3: rgb(137,200,250);
$color4: rgb(0,58,104);
$color5: rgb(147,86,220);
$colorbut: rgb(207, 115, 228);
$color6: #ddd9d9;

//mes mixins
@mixin title {
    font-family: $fonte1;
    padding: 0;
    box-sizing: border-box;
   
   


}



h1{
    font-size: 2rem;
    @include title;
}

* {
    margin: 0;
    padding: 0;
    
   
    
}
.btn{
    background: rgb(206,132,223);
background: linear-gradient(0deg, rgba(206,132,223,1) 0%, rgba(251,93,207,1) 100%, rgba(186,148,230,1) 100%);
    border-radius: 25px;
    height: 50px;
    padding-left: 35px;
    padding-right: 35px;
    border: 5px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    position: relative;


    &:hover {

        box-shadow: 4px 3px 3px rgb(180, 180, 180);
        transform: scale(1.05);

        
     }
}
.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background: #F6F6F6;
    border-radius: 25px;
    position: relative;
   box-shadow: 3px 3px 20px rgb(233, 227, 227);
   transition: 0.5s;
   cursor: pointer;

   &:hover {

    background: rgba(247, 202, 247, 0.527);
       transform: scale(1.02);
       
    }
    p{
      font-weight: bold; 
    }
}

.main-icon{
    height: 20px;
    width: 20px;
    background: $colorbut;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    margin-left: -98%;
}



article{
    width: 100%;
}
body {
    font-family: $font2;
    max-width: 768px;
    width: 95%;
    margin: auto;
    

   
 
}
 

