@font-face {
  font-family: inter-bold;
  src: url(/assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: merr;
  src: url(/assets/fonts/Merriweather-Light.ttf);
}
/* les variables de couleurs */
h1 {
  font-size: 2rem;
  font-family: inter-bold, sans-serif;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* code pour header */
header {
  margin: 20px 30px 20px 0;
}

main {
  height: 1535px;
}

footer {
  background: rgb(53, 53, 53);
  height: 251px;
  line-height: 25px;
}

/* button explorer nos restaurants */
.btn {
  background: rgb(206, 132, 223);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(206, 132, 223)), color-stop(100%, rgb(251, 93, 207)), to(rgb(186, 148, 230)));
  background: linear-gradient(0deg, rgb(206, 132, 223) 0%, rgb(251, 93, 207) 100%, rgb(186, 148, 230) 100%);
  border-radius: 25px;
  height: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border: 5px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

/* code mobile */
body {
  font-family: merr, serif;
  max-width: 768px;
  width: 95%;
  margin: auto;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -25px;
}

main {
  /* code pour article-menu */
}
main .entrees {
  margin: 0 0 53px;
}
main .plats {
  margin: 0 0 53px;
}
main .menu-container {
  background: rgb(246, 246, 246);
  position: relative;
  top: 226px;
  border-radius: 50px 50px 0 0;
  padding: 0 10px;
}
main .menu-container .articles {
  border: none;
  margin: 20px 0 0 0;
}
main .menu-container .articles h3 {
  font-weight: normal;
}
main img {
  height: 286px;
  width: 95%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
main .titre-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 47px 53px 47px 13px;
}
main .coeur {
  margin-top: -25px;
}
main h3 {
  text-transform: uppercase;
}
main .bar-souligne {
  width: 56px;
  height: 4px;
  background: #99e2d0;
  margin: 3px;
}
main .article-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
main .article-menu h4 {
  font-size: 1.1rem;
  font-family: inter-bold, sans-serif;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .article-menu .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* code pour le input choix */
}
main .article-menu .prix p {
  font-family: inter-bold, sans-serif;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 9px 0 0;
}
main .article-menu .prix .select-choix {
  width: 70px;
  height: 73px;
  display: none;
  background: #99e2d0;
  border-radius: 0 20px 20px 0;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
main .article-menu .prix .select-choix .fa-solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  color: white;
}
main .commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 33px;
}
main .description {
  margin-left: 15px;
  line-height: 1.5;
}

footer .menu-footer {
  color: white;
  margin-left: 22px;
}
footer .menu-footer .footer-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
footer .menu-footer .footer-ico .footer-ico2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer .img {
  padding: 35px 0 10px 0;
  width: 40%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

/* animation progressive sur le coeur */
.coeur i {
  position: absolute;
  margin-left: -30px;
  font-size: 2rem;
}

.coeur .fa-solid {
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

.coeur .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

/* afficharge progressive du contenu des menus */
#menu_1 {
  -webkit-animation: article-menu 400ms ease-in;
          animation: article-menu 400ms ease-in;
}

#menu_2 {
  -webkit-animation: article-menu 700ms ease-in;
          animation: article-menu 700ms ease-in;
}

#menu_3 {
  -webkit-animation: article-menu 1s ease-in;
          animation: article-menu 1s ease-in;
}

#menu_4 {
  -webkit-animation: article-menu 1.3s ease-in;
          animation: article-menu 1.3s ease-in;
}

#menu_5 {
  -webkit-animation: article-menu 1.6s ease-in;
          animation: article-menu 1.6s ease-in;
}

#menu_6 {
  -webkit-animation: article-menu 1.9s ease-in;
          animation: article-menu 1.9s ease-in;
}

#menu_7 {
  -webkit-animation: article-menu 2.2s ease-in;
          animation: article-menu 2.2s ease-in;
}

#menu_8 {
  -webkit-animation: article-menun 2.5s ease-in;
          animation: article-menun 2.5s ease-in;
}

#menu_9 {
  -webkit-animation: article-menu 2.8s ease-in;
          animation: article-menu 2.8s ease-in;
}

@-webkit-keyframes article-menu {
  0% {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    opacity: 0;
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@keyframes article-menu {
  0% {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    opacity: 0;
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}
/* effet de suvol sur le menu du restaurant */
.article-menu:hover {
  /* code pour rogner le texte */
}
.article-menu:hover .prix .select-choix {
  display: inline;
}
.article-menu:hover .description p {
  width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* effet au click */
:active .select-choix {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  border: solid;
}

/* btn srvol sur le button command */
.btn:hover {
  -webkit-box-shadow: 4px 3px 3px rgb(180, 180, 180);
          box-shadow: 4px 3px 3px rgb(180, 180, 180);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1440px;
  }
  body header .logo {
    width: 60%;
    margin-left: -27px;
    gap: 459px;
  }
  main {
    height: 1736px;
  }
  main img {
    height: 426px;
    width: 76%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .menu-container {
    margin: 0 160px;
    top: 415px;
  }
  main .menu-container .titre-menu {
    padding: 47px 379px;
  }
  main .menu-container .menus {
    padding: 0 180px;
  }
  footer {
    height: 95px;
  }
  footer .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 34px;
    gap: 50px;
    margin-left: 0;
  }
  footer .menu-footer .footer-ico {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
  }
  footer .menu-footer .img {
    width: 12%;
    padding: 6px 35px 10px 0;
  }
  footer .menu-footer p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=index.css.map */