@font-face {
  font-family: inter-bold;
  src: url(/assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: merr;
  src: url(/assets/fonts/Merriweather-Light.ttf);
}
/* les couleurs */
h1 {
  font-size: 2rem;
  font-family: inter-bold, sans-serif;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  background: rgb(206, 132, 223);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(206, 132, 223)), color-stop(100%, rgb(251, 93, 207)), to(rgb(186, 148, 230)));
  background: linear-gradient(0deg, rgb(206, 132, 223) 0%, rgb(251, 93, 207) 100%, rgb(186, 148, 230) 100%);
  border-radius: 25px;
  height: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border: 5px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.btn:hover {
  -webkit-box-shadow: 4px 3px 3px rgb(180, 180, 180);
          box-shadow: 4px 3px 3px rgb(180, 180, 180);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  background: #f6f6f6;
  border-radius: 25px;
  position: relative;
  -webkit-box-shadow: 3px 3px 20px rgb(233, 227, 227);
          box-shadow: 3px 3px 20px rgb(233, 227, 227);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.main-btn:hover {
  background: rgba(247, 202, 247, 0.527);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.main-btn p {
  font-weight: bold;
}

.main-icon {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -98%;
}

article {
  width: 100%;
}

body {
  font-family: merr, serif;
  max-width: 768px;
  width: 95%;
  margin: auto;
}

main {
  /* code pour article-menu */
}
main .entrees {
  margin: 0 0 53px;
}
main .plats {
  margin: 0 0 53px;
}
main .menu-container {
  background: rgb(246, 246, 246);
  position: relative;
  top: 226px;
  border-radius: 50px 50px 0 0;
  padding: 0 10px;
}
main .menu-container .articles {
  border: none;
  margin: 20px 0 0 0;
}
main .menu-container .articles h3 {
  font-weight: normal;
}
main img {
  height: 286px;
  width: 95%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
main .titre-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 47px 53px 47px 13px;
}
main .coeur {
  margin-top: -25px;
}
main h3 {
  text-transform: uppercase;
}
main .bar-souligne {
  width: 56px;
  height: 4px;
  background: #99e2d0;
  margin: 3px;
}
main .article-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
main .article-menu h4 {
  font-size: 1.1rem;
  font-family: inter-bold, sans-serif;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .article-menu .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  /* code pour le input choix */
}
main .article-menu .prix p {
  font-family: inter-bold, sans-serif;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: -65px;
  padding: 19px 9px 0 0;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
main .article-menu .prix .select-choix {
  width: 70px;
  height: 73px;
  background: #99e2d0;
  border-radius: 0 20px 20px 0;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
main .article-menu .prix .select-choix .fa-solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  color: white;
}
main .commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 33px;
}
main .description {
  margin-left: 15px;
  line-height: 1.5;
}/*# sourceMappingURL=index.css.map */