@keyframes animload {
  to {
    opacity: 0;
    z-index: 0;
  }
}

.custom-loader {
  width: 50px;
  height: 12px;
  top: 450px;
  margin-left: 40%;
  z-index: 900;
  position: fixed;
  background: radial-gradient(circle closest-side, #766df4 90%, #0000) 0 0/33%
    100% space;
  clip-path: inset(0 100% 0 0);
  animation: d1 2.5s steps(4) forwards;
}

@keyframes d1 {
  0% {
    clip-path: inset(0 -34% 0 0);
  }
}
/* animation de survole sur le button explorer nos restaurant*/
.btn:hover {
  box-shadow: 4px 4px 4px rgb(180, 180, 180);
  transform: scale(1.05);
  filter: brightness(1.2);
}
/* effet survol sur les button de fonctionnement */
.main-btn:hover {
  background: $colortertiaire;
  transform: scale(1.02);
}
/*leffet de survole sur article */
.palette:hover {
  transform: scale(1.01);
}

/* animation progressive sur le coeur */
i {
    position: absolute;
    margin-left: -30px;
    font-size: 2rem;
  }
  .fa-solid{
    opacity: 0;
    transition-property: all;
    transition-duration: 1.3s;
  }
  .palette-menil .coeur
  .fa-solid:hover{
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
  }
