header {
     
  
    .header-contenair-logo{
        text-align: center;
    }
    .header-contenair{
         display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px 0 0 0;
        img{
            width: 50%;

        }

    }

    .header-contenair-location{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        background: $color6;
        gap: 20px;

        input{
            border: none;
            background: none;
            font-size: 16px;
           
        }
        .fa-solid{
            margin-left: 10%;
        }
    }
   
    
}


