@media only screen and (min-width: 768px) and (max-width: 1024px){
    /*code pour le main */
    main{
        .main-reserver{
           h1{
            font-size: 1.9rem;
            width: 75%;
           } 
           p{
            font-size: 1.2rem;
           }
        }
    }
}
    @media only screen and (min-width: 1024px) {

        body {
            max-width: 1440px;

            /*::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
               top: 0;
                left: 0;
                bottom: 0;
                background: rgba(95, 90, 88, 0.692);
                animation: animload 1.2s ease forwards ;
                animation-delay: 0.15s;
            }*/ 
        }
    header{
      .header-contenair-location .fa-solid{
        margin-left: 5%;
           
        }
    }
    main{
        .main-reserver{
            h1{
                font-size: 2.5rem;
                text-align: center;
            }
            p{
                padding:0 60px 0 60px;
                text-align: center;
            }
        }
        .fonctionnement{
            margin: 0;
            
        }
        .maint-contenair-title {
            width: 21%;
        }
        .main-contenair{
            flex-direction: row;
            padding: 0 130px 0 63px;
            gap: 50px;   
        }
        .resto{
            flex-direction: row;
            gap: 130px;
        }
        .sect-resto{
            height: 500px;
            padding: 87px;
            .title{
                width: 100%;
            }
        }
    }
    footer{
        height: 100px;
        .menu-footer{ 
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
          padding-top: 50px;
          gap: 50px;

          .footer-ico{
            display: flex;
            flex-direction: row;
          }
    
          .img {
            width: 12%;
            padding: 6px 35px 10px 0;
          }
            p{
                font-size: 0.80rem;
            }
        }
    }
}