
@font-face {
    font-family: inter-bold;
    src: url(/assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: merr;
    src: url(/assets/fonts/Merriweather-Light.ttf);
}
$fonte1: inter-bold, sans-serif;
$font2: merr,serif;

/* les couleurs */
$colorprimaire: #9356DC;
$colorsecondaire:#FF79DA;
$colortertiaire:#99E2D0;


$color1: rgb(153, 226,208);
$color2: rgb(0,135,102);
$color3: rgb(137,200,250);
$color4: rgb(0,58,104);
$color5: rgb(147,86,220);
$colorbut: rgb(207, 115, 228);
$color6: #ddd9d9;

//mes mixins
@mixin title {
    font-family: $fonte1;
    padding: 0;
    box-sizing: border-box;
   
   


}
a{
    color: black;
}


h1{
    font-size: 2rem;
    @include title;
}

*{
    margin: 0;
    padding: 0;
  
    
}
.btn{
    background: rgb(206,132,223);
background: linear-gradient(0deg,



$colorprimaire 2%,
$colorsecondaire 100%, 
 $colortertiaire 60%,
 
 );

    border-radius: 25px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    filter: brightness(1.1);
    
   

    &:hover {

        box-shadow: 4px 4px 4px rgb(180, 180, 180);
        transform: scale(1.05);
        filter: brightness(1.2);

        
     }
}
.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background: #F6F6F6;
    border-radius: 25px;
    position: relative;
   box-shadow: 3px 3px 20px rgb(233, 227, 227);
   transition: 0.5s;
   transition-duration: 0.75s;
   cursor: pointer;
   

   &:hover {

    background: $colortertiaire;
       transform: scale(1.02);
       
    }
    p{
      font-weight: bold; 
    }
}

.main-icon{
    height: 20px;
    width: 20px;
    background: $colorbut;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    margin-left: -98%;
}



article{
    width: 100%;
}
body {
    font-family: $font2;
    max-width: 768px;
    width: 95%;
    margin: auto;

            &::before{
                content: "";
                position:absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                
                background: rgba(19, 17, 16, 0.753);
                animation: animload 4s ease forwards ;
                animation-delay: 2s;
            } 
            
   
 
}
 

