@font-face {
  font-family: inter-bold;
  src: url(/assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: merr;
  src: url(/assets/fonts/Merriweather-Light.ttf);
}
a {
  color: black;
}

h1 {
  font-size: 2rem;
  font-family: inter-bold, sans-serif;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  background: rgb(206, 132, 223);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(206, 132, 223)), color-stop(100%, rgb(251, 93, 207)), to(rgb(186, 148, 230)));
  background: linear-gradient(0deg, rgb(206, 132, 223) 0%, rgb(251, 93, 207) 100%, rgb(186, 148, 230) 100%);
  border-radius: 25px;
  height: 52px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.btn:hover {
  -webkit-box-shadow: 4px 3px 3px rgb(180, 180, 180);
          box-shadow: 4px 3px 3px rgb(180, 180, 180);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  background: #F6F6F6;
  border-radius: 25px;
  position: relative;
  -webkit-box-shadow: 3px 3px 20px rgb(233, 227, 227);
          box-shadow: 3px 3px 20px rgb(233, 227, 227);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.main-btn:hover {
  background: rgba(247, 202, 247, 0.527);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.main-btn p {
  font-weight: bold;
}

.main-icon {
  height: 20px;
  width: 20px;
  background: rgb(207, 115, 228);
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -98%;
}

article {
  width: 100%;
}

body {
  font-family: merr, serif;
  max-width: 768px;
  width: 95%;
  margin: auto;
}

header .header-contenair-logo {
  text-align: center;
}
header .header-contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
}
header .header-contenair img {
  width: 50%;
  padding: 17px;
}
header .header-contenair-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background: #ddd9d9;
  gap: 20px;
}
header .header-contenair-location input {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: bold;
}
header .header-contenair-location .fa-solid {
  margin-left: 25%;
}

main .main-reserver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background: #F6F6F6;
  height: 255px;
}
main .main-reserver h1 {
  font-size: 1.3rem;
  width: 63%;
}
main .main-reserver p {
  font-size: 1em;
  width: 90%;
}
main .main-contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-bottom: 50px;
  padding: 20px;
}
main .main-contenair article .icongrey .fa-solid {
  color: grey;
}
main .main-contenair .main-icon2 .fa-solid {
  color: rgb(207, 115, 228);
}
main .main-contenair .main-btn .main-icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 90%;
}
main .maint-contenair-title {
  width: 30%;
  margin: 30px 0 30px;
  text-align: center;
}
main .resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
main .resto .palette {
  position: relative;
  -webkit-box-shadow: 3px 3px 20px rgb(233, 227, 227);
          box-shadow: 3px 3px 20px rgb(233, 227, 227);
  height: 281px;
  border-radius: 20px 20px 10px 10px;
  width: 100%;
}
main .resto .palette img {
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .resto .palette .palette-nouveau {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px;
  width: 18%;
  background: #99E2D0;
  margin-left: 75%;
  bottom: 200px;
  border-radius: 5px;
}
main .resto .palette .palette-nouveau p {
  font-weight: bold;
  color: #64726e;
}
main .resto .palette .palette-nouveau a {
  text-decoration: none;
}
main .resto .palette .palette-menil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}
main .resto .palette .palette-menil a {
  text-decoration: none;
}
main .resto .palette .palette-menil h1 {
  font-size: 1.3em;
  font-family: merr, serif;
}
main .resto .palette .palette-menil .fa-solid {
  display: none;
}
main .resto .palette .palette-menil :hover.coeur .fa-solid {
  display: inline;
  cursor: pointer;
}
main .resto .palette .palette-menil :hover.coeur .fa-regular {
  display: none;
}
main .resto .palette .coeur i {
  font-size: 2rem;
}
main .sect-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  gap: 30px;
}
main .sect-resto h2 {
  margin-top: 54px;
  width: 100%;
}
main .sect-resto .title {
  width: 95%;
}
main .Fonctionnement {
  margin: 70px 8px 70px 10px;
}

footer {
  background: rgb(53, 53, 53);
  height: 251px;
  line-height: 25px;
  margin-top: 64px;
}
footer .menu-footer {
  color: white;
  margin-left: 22px;
}
footer .menu-footer .footer-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
footer .menu-footer .footer-ico .footer-ico2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer .img {
  padding: 35px 0 10px 0;
  width: 40%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*code pour le main */
  main .main-reserver h1 {
    font-size: 1.9rem;
    width: 75%;
  }
  main .main-reserver p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    max-width: 1440px;
  }
  body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 8, 7, 0.692);
    -webkit-animation: animload 2.5s ease forwards;
            animation: animload 2.5s ease forwards;
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  header .header-contenair-location .fa-solid {
    margin-left: 5%;
  }
  main .main-reserver h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  main .main-reserver p {
    padding: 0 60px 0 60px;
    text-align: center;
  }
  main .fonctionnement {
    margin: 0;
  }
  main .maint-contenair-title {
    width: 27%;
  }
  main .main-contenair {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 130px 0 83px;
    gap: 50px;
  }
  main .resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 80px;
  }
  main .sect-resto {
    height: 600px;
    padding: 87px;
  }
  main .sect-resto .title {
    width: 100%;
  }
  footer {
    height: 95px;
    margin-top: 0;
  }
  footer .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 34px;
    gap: 100px;
    margin-left: 0;
  }
  footer .menu-footer .footer-ico {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
  }
  footer .menu-footer .img {
    width: 12%;
    padding: 6px 35px 10px 0;
  }
  footer .menu-footer p {
    font-size: 0.8rem;
  }
}
@-webkit-keyframes animload {
  to {
    opacity: 0;
  }
}
@keyframes animload {
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */